* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.home {
  height: 90vh;
  width: 100%;
  /* background-color:brown; */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8%;
  padding-left: 8%;
  /* border-bottom: 1PX solid red; */
  /* background-color: darkorange; */
}
.logo {
  color: blue;
  font-size: 40px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: blueviolet;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: rgb(156, 26, 135);
  font-weight: bold;
  font-size: capitalize;
}
.btn {
  background-color: red;
  color: aqua;
  border: 20px solid aqua;
  padding: 5px 15px;
  border-radius: 30px;
  transition: transform 0.5s;
}
.btn:hover {
  transform: scale(1.2);
  border: 2px solid red;
  background-color: transparent;
}
.image {
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 100px;
  transform: rotateY(180deg);
}
.image img {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 80%;
  transform: translateX(100%);
}
.content {
  position: absolute;
  top: 20%;
  left: 15%;
  margin-top: 20px;
  margin-left: 90px;
  /* transform: translateY(-50%); */
}
h4 {
  color: blue;
  letter-spacing: 3px;
  font-size: 30px;
}
h1 {
  color: white;
  font-size: 70px;
  margin: 20px 0 20px;
}

h3 {
  color: rgb(0, 255, 98);
  font-size: 25px;
  margin-bottom: 50px;
}
.content a {
  font-size: 20px;
  background: red;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  border: 2px solid white;
}
.video {
  margin-top: 20px;
  margin-left: 80px;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 0px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.text {
  float: left;
  width: 70%;
}

.images {
  float: left;
  width: 30%;
}
section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}
.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}
.kolom .deskripsi {
  font-size: 25px;
  font-weight: bold;
  font-family: "comic sans-ms";
  color: chartreuse;
}
br .deskripsi {
  font-family: "comic sans-ms";
  font-weight: 800;
  font-size: 100px;
  margin-bottom: 25px;
  color: rgb(73, 61, 182);
  width: 300%;
}
a.tbl-biru {
  background: blanchedalmond;
  margin-top: 25px;
  padding: 15px 20px 15px 20px;
  color: aqua;
  cursor: pointer;
  font-weight: bold;
}
a.tbl-biru:hover {
  background: rgb(22, 11, 121);
  text-decoration: none;
}
a.tbl-pink {
  background: red;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: aqua;
  cursor: pointer;
  font-weight: bold;
}
a.tbl-pink {
  text-decoration: none;
}
p {
  margin: 10px 10px 10px 0px;
  padding: 10px 10px 10px 0px;
}
#courser {
  margin-left: 20px;
}
.tengah {
  text-align: center;
  width: 400%;
}
.tutor-list {
  width: 200%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.kartu-tutor {
  width: 50%;
  margin: 0 auto;
}
.kartu-tutor img {
  width: 80%;
  border-radius: 50%;
}
.kartu-tutor p {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 100px;
  text-align: center;
  color: rgb(47, 25, 175);
}
.partner-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.kartu-partner {
  width: 20%;
  margin: 50;
}
.kartu-img {
  width: 350px;
  border-radius: 50%;
  border: 10px solid #fff;
}
.contact {
  background: brown;
  padding: 50px 0px 50px 0px;
}
.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.footer-section {
  width: 20%;
  margin: 0 auto;
}
